@import '../../styles/varibles';

.drop-down {
    display: flex;
    flex-direction: column;

    &__lbl {
        color: $color-lbl;
        font-size: 14px;

        &_strong {
            font-weight: 600;
        }

    }

    &__select {
        border: none;
        border-bottom: 1px solid $color-blue;
        outline: none;
        padding: 0;
        font-size: 14px;
    }

}