@import '../../styles/varibles';

.main-page {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    gap: 15px;

    &__list-container {
        min-width: 500px;
        max-width: 500px;
        border-right: 1px solid $color-dirtywhite;
        box-shadow: 1px 0px 4px -3px $color-delimitershadow;
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__add-goal-btn {
        margin-top: auto;
        margin-bottom: 10px;
    }

}