@import '../../styles/varibles.scss';

.user-menu {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;

    &__menu-item {
        &:hover {
            opacity: 0.9;
        }
    }

    &__menu {
        z-index: 9999;
        position: absolute;
        margin-top: 94px;
        margin-right: 20px;
        border: 1px solid;
        background-color: $color-white;
        color: $color-darkgrey;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 4px;
        width: max-content;
        max-width: 400px;
        box-shadow: $shadow;
    }
}